<header>
   
   <h1 ><center><p style="color:rgb(175, 106, 158)">We are delighted to have you among us.</p></center></h1>
   <h1>{{pageTitle}}</h1>
   <p align="right"><a href="/">Login</a> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<a href="/Profile">Profile</a>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</p>
</header>