<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fresh App</title>
  </head>
  <body>
    {{> header}}
    UserId : {{UserId}}<br>
    <p><b>{{Beginswith UserId}}</b></p>
    {{> footer}}
  </body>
</html>
