<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{> header}}
    <p>Name : Sakshi</p>
    <p>Coins: 201 </p>
    <p>Units : 12un</p>
    <p>Currency: In </p>
    <p>Duration : 1200s/m</p>
    <p>Dept: 0 </p>

    {{> footer}}
    
    </footer>
  </body>
</html>
