<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p><center><i><u>Transactions</u></i></center></p>
    <table border="1" cellpadding="10" cellspacing="5" align="center">
        <tr>
            <td>Date</td>
            <td>Amount</td>
            <td>Status</td>
            <td>Total Units</td>
        </tr>
        <tr>
            <td>03-Feb-2022</td>
            <td>39000</td>
            <td>Credited</td>
            <td>5900</td>
        </tr>
        <tr>
            <td>13-Feb-2022</td>
            <td>21000</td>
            <td>Deposited</td>
            <td>4900</td>
        </tr>
        <tr>
            <td>14-Feb-2022</td>
            <td>61000</td>
            <td>Credited</td>
            <td>1900</td>
        </tr>
        <tr>
            <td>16-Feb-2022</td>
            <td>29000</td>
            <td>Deposited</td>
            <td>6900</td>
        </tr>
    </table>

    {{> footer}}
    
    </footer>
  </body>
</html>
